backend:
  gemini-api-key: ""
  prod:
    db-username: verdant
    db-password: verdant
    db-url: jdbc:postgresql://localhost:5432/verdant

android:
  api-base-url: http://10.0.2.2:8080/
  google-web-client-id: ""
  maps-api-key: ""
